.base-text {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-indent: 40px;
    white-space: nowrap;
}

.text-middle-line {
    text-decoration: line-through;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.centered-text {
    text-align: center;
    font-size: 40px;
    color: darkcyan;
    text-shadow: 1px 1px 2px rgb(17, 41, 220);
}

.distance-between-words {
    word-spacing: 30px;
    font-size: 30px;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    text-decoration: wavy overline;
}

.distance-between-letters {
    letter-spacing: 5px;
    font-size: 30px;
    text-decoration: dashed 10px black underline;
}