body {
    background-color: #181E34;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: unset;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 895px;
    color: white;
    max-height: 48px;
    margin: 30px auto;

}

.logo-image {
    max-width: 48px;
    max-height: 48px;
}

.nav-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-item {
    font-size: 16px;
    font-weight: 400;
}

.log-button {
    border-radius: 100px;
    background-color: white;
    color: black;
    min-width: 113px;
    min-height: 48px;
    font-weight: 500;
    font-size: 16px;
    padding: 14px 30px;
}

.content {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 60px 270px 144px;
    gap: 144px;
}

.heading {
    font-size: 40px;
    font-weight: 600;
}

.first-section {
    background: url(../source/hero-bg.jpg)  no-repeat center;
    background-size: cover;
    width: 100vw;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
    font-weight: 400;
    max-width: 400px;
}

.uniq-text {
    font-weight: 700;
    color: #01a2cb;
}

.button-container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    height: 100%;
    gap: 10px;
    align-self: center;
}

.main-button {
    width: 100%;
    min-width: 300px;
    font-size: 16px;
    font-weight: 500;
    padding: 18px 30px;
    border-radius: 100px;
    color: white;
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    border: unset;
}

.other-button {
    display: flex;
    justify-content: center;
    background: linear-gradient(129deg, #00a4cc 0%, #2766ae 100%);
    gap: 4px;
}

.button-img {
    background: url(../source/teenyicons_button-solid.png) no-repeat center/80%;
    width: 16px;
    height: 16px;
    
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: white;
}

.section-2-text {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: center;
    max-width: 400px;
    margin-bottom: 60px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    padding: 0px 270px;
    
}

.h3-heading {
    color: white;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.item-text {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: center;
    text-wrap: balance;
}

.item {
    border: 2px solid #176bae;
border-radius: 16px;
padding: 28px;
background-color: #197CB8;
box-shadow: 4px 4px 13px 0 rgba(11, 15, 30, 0.79);
}

.items-button {
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    padding: 18px 186.5px;
    align-self: center;
    border-radius: 100px;
    margin: 30px 232px 120px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 60px 270px;
    border-top: 1px #323952 solid;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.footer-text {
    max-width: 300px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.list {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;

}

.h4-heading {
    font-size: 22px;
    font-weight: 600;
}

.list-elem {
    font-size: 16px;
    font-weight: 400;
}